<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link href="/assets/css/output.css" rel="stylesheet">  
   </head>
  <body>
  <div>
    <%= @partials.nav %>
    <section class="container mx-auto">
      <%= @content %>
    </section>
    </div>
    <%= @partials.js %>
  </body>
</html>