<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <%= @partials.addtail %>

    
  </head>
  <body>
  <div class="container mx-auto">
    <%= @partials.nav %>
    <h1>Blog</h1>
    <section class="my-10">
    <%= 
    %{posts: %{public: posts_in_yes}} = @collections
    for page <- posts_in_yes do 
        %>

      <% 
      the_image = 
        if Map.has_key?(page.data, :image) do
          "/assets/img/" <> page.data.image
        else
          "/assets/img/default.png"
          
        end 

      
        %>

<div class="m-10">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200">
    <div class="p-6">
      <h2 class="text-xl font-semibold hover:underline">
        <a href="<%= page.data.url %>"><%= page.data.title %></a>
      </h2>
      <p class="text-gray-500 text-sm mt-1"><%= inspect(page.page.date) %></p>

        <p class="formatted-date" data-date=<%= page.page.date %> ></p>

      <p class="text-gray-700 mt-2"><%= inspect(page.page.description) %></p>

      
        <div class="mt-4">
          <img src="<%= the_image %>" alt="Post image" class="w-full h-48 object-cover rounded-md">
        </div>
     
    </div>
  </div>
</div>

    <% end %>
    </section>
    <footer>
    </footer>
    </div>

    <%= @partials.js %>

  </body>
</html>