<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <%= @partials.addtail %>
   </head>
  <body>
  <div>
    <%= @partials.nav %>
    <section class="container mx-auto">
      <%= @content %>
    </section>
    <footer class="container mx-auto mt-10">
      &copy; <%= @author %>
    </footer>
    </div>
  </body>
</html>