---
layout: base
---
<div>
<div class=" my-10">
  <h1 class="mx-auto text-center"><%= @title %></h1>
  <img src="<%= Blog.get_post_image(@image) %>" alt="<%= @title %>" class="mx-auto my-4 rounded-lg shadow-lg" width="800" height="400">
  </div>
  <%= @content %>
</div>
